extends layout.pug

block head
  title= title
  link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', type='text/css')
  link(rel='stylesheet', href='/stylesheets/hyouka_finish.css', type='text/css')

block main_content
  .container-fluid
    h2 評価を更新しました。
    hr
    a.btn.btn-primary(href="/top_page") ホーム